body {
    background-size: cover;
  }
main {
    margin-top: -50%;
    width: 99.2%;
  }
#title{
    letter-spacing: .5rem;
  }
  #device{
    width:100% ;
    height:56vh ;
    object-fit: cover;
    background-attachment: fixed;
  }
  #navbarSupportedContent img{
    width: 40px;
    height: 40px;
  }
  #title-img{
    width: 170px;
  }
  nav{
    background-color: rgba(33, 37, 41,0.8);
  }
  #forum-img{
    height: 35vh;
  }
  #forum-img img{
    height: 300px;
    width: 600px;
    object-fit: cover;
    margin-top: -30px;
  }
  #interest,#edit{
    position : relative ; 
    margin-top: 10px;
  }
  #icon{
    margin-right: 40px;
  }
  #user-name{
    margin-right: 10px;
  }
  .vr{
    color: #fff;
    margin-right: 35px;
  }
  #content{
    margin-top: 55vh;
  }
  #comment{
    margin-top: 300px;
  }
  #discussion{
    height: 150px;
    position:relative;
    margin-bottom: 10px;
  }
  #discussion p{
    height: 100%;
  }
  #commentIcon{
    width: 25px;
    height: 25px;
    }
    footer{
      display: none;
    }
    #forunUserIcon{
      width: 25px;
      height: 25px;
      }
      #principal{
        position: relative;
      }
      #child{
        margin: 0 0 0 auto;
        width: 70vw;
      }