body {
    background-size: cover;
  }
#device{
  width:100% ;
  height:56vh ;
  object-fit: cover;
  background-attachment: fixed;
}
#logo{
  margin-top: -33vh;
  margin-bottom: 0px;
  width: 400px;
}
section{
  margin-top:-10vh;
}
#myTab{
    margin-top:3vh;   
    margin-bottom: 3vh;
}
#title{
  letter-spacing: .5rem;
}
#search{
  margin-top:22vh ;
  width: 400px;
}
#navbarSupportedContent img{
  width: 40px;
  height: 40px;
}
#add-forum{
  margin-top:7vh ;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  -webkit- transform:translateX(-50%);
}
#mien-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card-img-top{
  height: 200px;
  object-fit: cover;
}
#page{
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  -webkit- transform:translateX(-50%);
}
.btn-dark-moon {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}
.bbs{
  align-items: center;
  color: #fff;
  display: flex;
  line-height: 40px;
  overflow:hidden;
  width: 100%;
  height: 100%;
  white-space:nowrap;
  margin-top: 70px;
  z-index: 1;
}
.bbs ul {
  animation: flowing 70s linear infinite;
  font-size: 20px;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}
.bbs ul li{
  display: inline-block;
  padding-right: 60px;
}
@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}
#title-img{
  width: 170px;
}
nav{
  background-color: rgba(33, 37, 41,0.8);
}
#icon{
  margin-right: 35px;
}
#user-name{
  margin-right: 10px;
}
.vr{
  color: #fff;
  margin-right: 35px;
}
#forumIcon{
width: 28px;
height: 28px;
}
#newForum{
  font-size: 13px;
}