body {
    background-size: cover;
  }
main {
    width: 99.2%;
  }
#logo {
    margin-top: -78%;
  }
#form {
    margin-top: -78%;
  }
#title{
    letter-spacing: .5rem;
  }
#navbarSupportedContent img{
    width: 40px;
    height: 40px;
  }
  #title-img{
    width: 10vw;
  }
  nav{
    background-color: rgba(33, 37, 41,0.8);
  }